.product-page-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 82vh;
  }
  
  .product-details {
    text-align: center;
    max-width: 600px;
  }
  
  .product-details img {
    max-width: 100%;
    height: auto; /* Ensures responsive image */
    margin-bottom: 20px;
  }
  
  